#deviceUploadDiv {
    z-index: 99;
    position: absolute;
    top:-80px;
    left:50%;
    width:1250px;
    margin:-1000px 0px 0px -725px;
    background: #313335;
    padding:15px;

}
#deviceUploadDiv .msg_h15 {
    width:1220px;
}
#deviceUploadDiv .modal-header {
    z-index: 101;
    background: #000;
}
#deviceUploadDiv .bg_white {
    background: #fff;
    color:#fff;
}
h4.modal-title {
    color: #ffffff;
}